---
# Only the main Sass file needs front matter (the dashes are enough)
---

/*
COLOR PALETTE
https://coolors.co/323031-78BC61-F4F2F3-007EA-84828F
#F0F0F0 - light gray
#343434 - dark gray - almost black
#4381C1 - steel blue
#E6AF2E - goldenrod/yellow
#70AE6E - bud green/light green
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #F0F0F0;
  background: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #70AE6E;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #4381C1;
}
h1 {
  font-size: 60px;
  line-height: 1;
}
h2 {
  font-size: 35px;
}
h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 15px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px solid #343434;
  padding: 20px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

.profile-btn {
  color: #343434;
  background: #70AE6E;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;

}

.profile-btn:hover {
  color: #F0F0F0;
   background: rgba(112,174,110, 70%);
}

/* Galleria
------------------------------------
header {
  background: #343434;
  color: #F7FFF7;
}

header a {
  text-decoration: none;
}

h1 a:hover{
  color: #70AE6E;
} 



/* Projects
------------------------------------*/
.projects {
  background: #F0F0F0;
  color: #343434;
  text-align: center;
}
.projects a {
  color: #343434;
}

.projects a:hover{
  color: #4381C1;
}

.projects .btn {
  color: #70AE6E;
  background: #343434;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(34, 34, 34, 80%);
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}

.project-item p {
  text-align: center;
}

}
.content-wrap {
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}

.projects-content img {
  max-width: 100%;
  width: 90%;
  object-fit: cover;
}


/* GALLERY
------------------------------------*/

/*.comingsoon{
  list-style-type: none;
  padding: 0;
}
.comingsoon a{
  padding: 10px;
  display: inline-block;
  text-decoration: underline; */
 
div.gallery p {
  padding-top: 15px;
  padding-bottom: 10px;

}

div.gallery {
  margin: 5px;
  float: none;
}

div.gallery:hover {
  margin: none;
}

div.gallery img {
  max-width: 100%;
  width: 90%;
  height: 200px;
  max-height: 300px;
  object-fit: contain;
  margin: 5px;

}

div.desc {
  padding: 5px;
  text-align: center;
  margin-bottom: 40%;

}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* Work Experience
------------------------------------
.work-experience {
  background: #A1C6D7;
}

/* Education
------------------------------------
.education {
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
} 



/* Contact Info
------------------------------------*/
footer {
  background: #343434;
  color: #F7FFF7;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Responsive
------------------------------------*/
@media screen and (min-width:750px){
  header, footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:600px){
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
}
